body {
  background: #fae8d4;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1rem;
  cursor: default;
  -webkit-user-select: none; /* Chrome, Opera, Safari */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
}
h1 {
  font-family: 'Cinzel', serif;
  font-size: 6vmax;
  margin: 4vmin;
  margin-bottom: 0;
  font-weight: normal;
}
img {
  height: 38vmin;
  margin: 4vmin;
  margin-bottom: 0;
}
.social{
  font-size:1.8rem;
  padding-bottom:2rem;
}
.corpo {
  font-family: 'Varela Round', sans-serif;
  color: gray;
  line-height: 150%;
  margin-top: 4vmin;
 }
.pren {
  color: black;
  margin-top: 2rem;
 }
.footer {
  text-align: center;
}
a:link {
    color: black;
  text-decoration: none;
}
a:visited {
    color: black;
  text-decoration: none;
}
.fa {
  padding: 0.5rem;
  }
